html,
body,
#react-root {
  height: 100%;
}

br {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #83a668 50%, #c7ecee 50%);
}
/* form Container */
form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0 auto;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

.background-video {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}

/* inputs form  */
input[class='form-input'] {
  width: 250px;
  height: 25px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5e6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
input[id='txt-input'] {
  width: 250px;
}
/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

field-set {
  align-items: center;
  justify-content: center;
}

/* End Form  */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.picture-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.picture {
  border-radius: 5px;
  max-width: 400px;
}

ul {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

.search-container {
  align-items: center;
  margin-top: 120px;
  display: flex;
}

.card-image {
  position: relative;
  max-height: 250px;
  width: 100%;
}

.card-header {
  position: absolute;
  background-color: #444;
  color: #fff;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  text-align: center;
}

.spacing {
  margin-top: 100px;
}

.about-image {
  border-radius: 5px;
}

/* Dropdowns  */

.dropdown-home {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
