html,
body,
#react-root {
  height: 100%;
}

br {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

form {
  background-color: #dfe6e9;
  font-family: monospace;
  padding-left: 10px;
  border: 2px solid #636e72;
  border-radius: 3px;
  justify-content: center;
  max-width: 300px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2d3436;
  opacity: 1; /* Firefox */
}

label {
  margin-right: 10px;
}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  line-height: 25px;
  width: 60%;
  height: 10%;
}

input[type='text'],
[type='password'] {
  font-size: 18px;
}

/* input[type='text']:focus,
[type='password']:focus {
  outline: 2px solid #6c5ce7;
  border-radius: 1px;
} */

/* End of Form  */

.picture-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.picture {
  border-radius: 5px;
  max-width: 400px;
}

ul {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

.search-container {
  align-items: center;
  margin-top: 120px;
  display: flex;
}

.card-image {
  position: relative;
  max-height: 250px;
  width: 100%;
}

.card-header {
  position: absolute;
  background-color: #444;
  color: #fff;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  text-align: center;
}

.spacing {
  margin-top: 100px;
}

.about-image {
  border-radius: 5px;
}

/* Dropdowns  */

.dropdown-home {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
