.footer-clean {
  margin-top: calc(5% + 60px);
  bottom: 0;
  padding: 5px 0;
  max-height: 64px;
  background-color: #fff;
  color: #4b4c4d;
  position: fixed;
  width: 100%;
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  text-align: right;
  opacity: 0.6;
}
