.container {
  text-align: left;
}

.footer-clean {
  margin-top: calc(5% + 30px);
  /* z-index: -1; */
  bottom: 0;
  max-height: 250px;
  background-color: #fff;
  margin-left: 20px;
  color: #4b4c4d;
  position: relative;
  width: 100%;
}

/* a :hover {
  cursor: pointer;
} */
