.container {
  text-align: left;
}

.footer-clean {
  margin-top: calc(5% + 30px);
  bottom: 0;
  max-height: 200px;
  background-color: #fff;
  color: #4b4c4d;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.img-icon {
  width: 100px;
  margin-right: 20px;
}

.img-node {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-js {
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
}

.img-html {
  width: 200px;
}
